<div class="main-container">
   <div class="nav-logo" routerLink="menuList[0].endpoint" (click)="handleMenuClick(menuList[0])" >
      <img src="logo.jpg" alt="logo">
      <span>Students</span>
   </div>
   <div class="nav-container">
      @for(menu of menuList; track menu.name){
         <div
            [ngClass]="activatedMenu && activatedMenu.name && activatedMenu.name == menu.name ? 'nav-item activated' : 'nav-item'"
            routerLink="{{menu.endpoint}}"
            (click)="handleMenuClick(menu)"
         >
            <div>{{menu.name}}</div>
         </div>
      }
   </div>
</div>