.main-container {
    background-color: deepskyblue;
    height: 100%;
    /* border: 2px solid black; */
    div.nav-item {
        /* border: 2px solid black; */
        font-weight: 500;
        background-color: deepskyblue;
        text-align: center;
        align-content: center;
        cursor: pointer;
        div {
            height: 45px;
            align-content: center;
            text-align: start;
            padding-left: 15%;
        }
    
    }
    div.nav-item.activated {
        background-color: lightblue;
    }
    div.nav-item :hover {
        background-color: lightblue;
    }
}