.main-container {
    background-color: skyblue;
    height: 100%;
    /* border: 2px solid black; */
    div.nav-item {
        /* border: 2px solid black; */
        font-weight: 500;
        background-color: skyblue;
        text-align: center;
        align-content: center;
        div {
            height: 45px;
            align-content: center
        }
        cursor: pointer;
    }
    div.nav-item :hover {
        background-color: deepskyblue;
    }
}